@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.titulos_pag h1 {
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 300px;
    font-weight: 100;
    text-decoration: underline;
    color: darkcyan;
}

body {
    font-family: 'Raleway', sans-serif;}

